* {
  padding: 1;
  margin: 1;
}
.list {
  text-align: center;
  font-size: 40px;
  background-color: rgb(240, 125, 125);
}
.tooltip {
  border: 50px;
  background-color: aqua;
  text-align: center;
}
